#map{
    width: 100%;
    height: 40vh;
    z-index: 1;
}
.imgsDivStyle{
    margin-top: 1vh;
    width: 600px;
    border: 1px black solid;
    padding: 5px;
}
.img{
    height: 80px;
    width: 100px;
    border: 1px black dashed;
    margin:5px;
}

label,p,select,h3{
    font-family: 'Urbanist', sans-serif;
    padding-top: 1vh;
    font-size: 1.3em;
}
h1{
    font-family: 'Paytone One', sans-serif;
    text-shadow: 5px;
}
body {
  height: 100%;
}

body {
  background-image: url("/assets/img/bg_light.png");
  background-size: auto;
}