img{
width: 20em;
height: 20em;
}.gradient{
background: rgb(174,238,187);
background: radial-gradient(circle, rgba(174,238,187,1) 0%, rgba(181,204,177,1) 50%, rgba(148,233,151,0) 100%); 
border: 1em;
padding: 2em;
}
    h2,h3{
font-family: 'Urbanist', sans-serif;
}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}
.bg-dark{
background: transparent !important;

}
.btn, .form-control{
border-radius: 0%;
}
.bg-dark.scrolled{
background: #000 !important;            
transition: 0.75s ease;
}
.btn-outline-success{
    padding: 0.8em;
    font-size: 1em;
    letter-spacing: 0.04em;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
}

@media (max-width: 900px) {
.side{
    display: none !important;
}

.bookingform{
    width: 70vw;
}
}



@media (max-width: 768px) {
.side{
    display: none;
}
.d-flex
 {
  display: none !important;
}
.bookingform{
    width: 70vw;
}
}
body{
    background-image: url("/assets/img/bg_light.png");
    background-position: center;
    background-repeat: no-repeat;
}