.pfp{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: beige;
}
.chatmenu{
    
}
.chatbox{
    min-height: 15em;
}

#chat {
    width: 100%;
    margin: auto;
    min-height: 30em;
    padding: 1em;
    border-radius: 0.3em;
}

#message-form {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.receivedMessage {
    list-style-type: none;
    margin-bottom: 10px;
    background-color:rgb(138, 211, 166);
    padding: 8px;
    border-radius: 10px;
    color: white;
    min-width: 30%;
    max-width: 40%;
}

.receivedMessage span {
    font-style: italic;
    font-weight: bolder;
    color: #b5b0b9;
}

.sentMessage{
    list-style-type: none;
    text-align: right;
    background-color:rgb(52, 110, 74);
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 0.5em;
    margin-left: 55%;
    padding: 8px;    
    min-width: 30%;
    max-width: 50%;
}

.sentMessage span {
    margin-left: 5px;
    color: #6929ca;
}
.chatScreen{
    position: absolute;
    bottom: 3em;
    left: 1em;
    right: 1em;
    max-width: 52em;
    max-height: 27em;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-align: end; 
    scroll-behavior: smooth;
}


.viewchats {
    width: 50px;
    height: 50px;
}

@media screen and (max-width:1368px) {
    .chatScreen{
    max-width: 44.5em;    
}

}

@media screen and (max-width:1168px) {
    .chatScreen{
    max-width: 37em;    
}

}

@media screen and (max-width:1024px) {
    .chatScreen{
    max-width: 37em;    
}.chatDIV{
    padding-top: 2em;
}

}


@media screen and (max-width:968px) {
    .chatScreen{
    max-width: 42em;    
}

}

@media screen and (max-width:762px) {
    .chatScreen{
    max-width: 31em;    
}

}