.pfp{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: beige;
}
.chatmenu{
    
}
.chatbox{
    min-height: 15em;
}

#chat {
    width: 100%;
    margin: auto;
    min-height: 30em;
    padding: 1em;
    border-radius: 0.3em;
}

#message-form {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.receivedMessage {
    list-style-type: none;
    margin-bottom: 10px;
    background-color:rgb(138, 211, 166);
    padding: 8px;
    border-radius: 10px;
    color: white;
    width: 30%;
}

.receivedMessage span {
    font-style: italic;
    font-weight: bolder;
    color: #b5b0b9;
}

.sentMessage{
    list-style-type: none;
    text-align: right;
    background-color:rgb(52, 110, 74);
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 70%;
    padding: 8px;    
    width: 30%;
}

.sentMessage span {
    margin-left: 5px;
    color: #6929ca;
}