#ServicesDiv
{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
}
.form-select{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
span{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}
h6,li,h4,p{
    font-family: 'Raleway', sans-serif;
}
h6,.list{
    font-size: small;
}

.autoComplete_wrapper > input{
            height: 3em;
            width: 40em;
            border-radius: 0em;
            border: 0px solid gray;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
        }
.productcard{
    border-radius: 4px;
    height: 470px;
    width: 300px;
    margin: 20px;
    display: flex;
    
    justify-content: space-between;
    flex-direction: column;
    transition: border-color .3s;
    background-color: white;
    box-shadow: 0.1em 0.1em 5px gray;
}
.productcard:hover{
    border-radius: 2em;
    transition: 300ms;
    width: 320px;
    padding: 10px;
    box-shadow: 0.3em 0.3em 5px gray;
}
.thumb{
    border-radius: 2em;
    width: 240px;
    height: 200px;
    cursor: pointer;
    padding: 8px;
    
}
.detbtns{
    background-color: navy;
    color: white;
    width: 90%;
    margin-bottom: 0.1vh;
    margin-left: 1vw;
}
.detbtns:hover{
    background-color: rgb(1, 1, 87);
    color: wheat;
}
.title{
    font-family: 'Raleway', sans-serif;
    padding-left: 0.5em;
}

.list-group-item{
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: medium;
}

.list-group-item:hover{
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 2px;
}
.searchBAR{
    width: 100%; 
    margin:auto;
}


@media screen and (max-width: 1120px){
    .list-group-item{
        padding: 2px;
    }
    .move_left{
        align-self: center;
    }
}


@media screen and (max-width: 762px){
    #sidebar{
        display: none;
    }
    .move_left{
        align-self: center;
    }
    .searchBAR{
        width: 20em;
        margin-left:5.5em;
    }
    .autoComplete_wrapper > input{
       width: 20em;
       
    }
    
}

@media screen and (max-width: 568px){
    #sidebar{
        display: none;
    }
    .move_left{
        align-self: center;
    }
    .searchBAR{
        width: 10em;
        margin-left:8em;
    }
    .autoComplete_wrapper > input{
       width: 8em;
       
    }
    
}


.navbar-brand{
    color:black;
}

.category,.price{
    color: gray;
}