

.container {
  max-width: 960px;
}


body{
            font-family: 'Open Sans', sans-serif;
        }
        #signUpForm {
            min-width: 100%;
			min-height: 80%;
            background-color: #ffffff;
            margin: 40px auto;
            padding: 40px;
            box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
            border-radius: 12px;
        }
        #signUpForm .form-header {
            gap: 5px;
            text-align: center;
            font-size: 1em;
            font-family: 'Urbanist', sans-serif;;
        }
        #signUpForm .form-header .stepIndicator {
            position: relative;
            flex: 1;
            padding-bottom: 30px;
        }
        #signUpForm .form-header .stepIndicator.active {
            font-weight: 600;
        }
        #signUpForm .form-header .stepIndicator.finish {
            font-weight: 600;
            color: #009688;
        }
        #signUpForm .form-header .stepIndicator::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            z-index: 9;
            width: 20px;
            height: 20px;
            background-color: #d5efed;
            border-radius: 50%;
            border: 3px solid #ecf5f4;
        }
        #signUpForm .form-header .stepIndicator.active::before {
            background-color: #a7ede8;
            border: 3px solid #d5f9f6;
        }
        #signUpForm .form-header .stepIndicator.finish::before {
            background-color: #009688;
            border: 3px solid #b7e1dd;
        }
        #signUpForm .form-header .stepIndicator::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 8px;
            width: 100%;
            height: 3px;
            background-color: #f3f3f3;
        }
        #signUpForm .form-header .stepIndicator.active::after {
            background-color: #a7ede8;
        }
        #signUpForm .form-header .stepIndicator.finish::after {
            background-color: #009688;
        }
        #signUpForm .form-header .stepIndicator:last-child:after {
            display: none;
        }
        #signUpForm input {            
            font-size: 1em;
            border: 1px solid #e3e3e3;            
        }
        #signUpForm input:focus {
            border: 1px solid #009688;
            outline: 0;
        }
        #signUpForm input.invalid {
            border: 1px solid #ffaba5;
        }
        #signUpForm .step {
          display: none;
        }
        #signUpForm .form-footer{
            overflow:auto;
            gap: 20px;
        }
        #signUpForm .form-footer button{
            background-color: #009688;
            border: 1px solid #009688 !important;
            color: #ffffff;
            border: none;
            padding: 13px 30px;
            font-size: 1em;
            cursor: pointer;
            border-radius: 5px;
            flex: 1;
            margin-top: 5px;
        }
        #signUpForm .form-footer button:hover {
          opacity: 0.8;
        }
        
        #signUpForm .form-footer #prevBtn {
            background-color: #fff;
            color: #009688;
        }



.navbar .navbar-nav .nav-link {
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #ffffff;
}


.navbar .navbar-nav .nav-link {
  padding: 0.6em;
  font-family: 'Raleway', sans-serif;
}
.navbar .navbar-brand {
  padding: 0 0.6em;
  color:#fff;
  font-size:xx-large;
  font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 992px) {
      body{
        max-height: 40vh;
    }
}


@media only screen and (max-width: 600px){

    body{
        max-height: 40vh;
        font-size:0.9em;
        font-weight: 500;
    }
    .h6,.h2{
      font-size: medium;
    }

}



.btn{
  width: 8em;
  height: 3em;
  font-size: small;
}

.btn-outline {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.142);
    border-color: #309c37;
    border-width: 0.1em;
    font-family: 'Montserrat', sans-serif;

    letter-spacing: 0.001em;
    border-radius: 0.5em;
}
.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
  background: #4fbfa8;
  color: #ffffff;
  border-color: #4fbfa8;

}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 100%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}